@page "/counter"

<h1>Dropdown</h1>

<p>Test for mobile dropdown with filtering to see if the scroll has effect on the view.</p>
<p>Opening the dropdown when the page is scrollable and the urlbar is fully visible has the expected behaviour.</p>
<p>Opening the dropdown when the page is scrollable and the urlbar is hidden makes it so the last 2 countries aren't vissible.</p>
<SfDropDownList TValue="string" TItem="Country" Placeholder="Select a country" AllowFiltering="true" DataSource="@Countries" Width="300px">
    <DropDownListFieldSettings Text="Name" Value="Code"></DropDownListFieldSettings>
</SfDropDownList>

<p>
    Rhoncus proin hendrerit pulvinar magna, ligula habitant varius? At aliquam molestie cras sociosqu conubia purus est a accumsan? Hac amet duis class at hac. Massa convallis dis hendrerit eu vehicula nostra a congue per. Tempor scelerisque elementum curae;, at elementum! Tortor quis amet phasellus porttitor nisl dui habitasse semper adipiscing. Nisi at lacinia sollicitudin phasellus sit iaculis.
</p>
<p>
    Cursus, montes torquent per. Eget quisque cursus maecenas in. Aenean ligula suscipit sociosqu montes ac non cum suspendisse parturient. Ultricies felis penatibus arcu egestas aenean, conubia nisl hendrerit libero tempor vitae velit. Consequat quisque velit consectetur! Ante semper conubia sagittis lobortis gravida potenti himenaeos. Consequat, hac lectus convallis ultricies. Cursus nisl leo et rutrum! Sodales ante ornare condimentum in eu. Tellus hac vestibulum conubia praesent diam adipiscing. Hac euismod porttitor?
</p>
<p>
    Suspendisse suspendisse ultricies phasellus. Litora curae; montes aptent? Leo rutrum habitasse duis pulvinar in eleifend praesent diam? Vestibulum porta platea duis at, erat magnis ornare fringilla lectus cras vestibulum fermentum. Cum rhoncus gravida tempus maecenas, placerat accumsan. Sociis lacus commodo sem class ultrices habitant sodales massa placerat fermentum nascetur fames. Hendrerit curae; per ultricies id? Magna mollis euismod magnis! Vestibulum platea sem vulputate curabitur lorem aenean justo enim. Laoreet nisl accumsan nullam. Nulla nascetur facilisis pellentesque velit! Lacinia integer varius potenti cursus orci congue fermentum tincidunt sed porta? Sagittis urna sapien lorem aliquet feugiat facilisi augue rutrum. Parturient nulla class fringilla. Nec, volutpat torquent erat quisque. Lorem dignissim himenaeos mauris, tortor nec tellus eu feugiat. Diam ad scelerisque pretium mattis, posuere pulvinar aptent in. Dictum donec facilisi arcu vulputate. Nulla id nam condimentum tellus amet rhoncus sit vulputate, ac pulvinar placerat. Fames at per penatibus massa ligula diam dignissim suspendisse porta dignissim orci fusce. Cubilia vel elementum nulla risus sodales nisl aliquam. Cursus nibh cum nostra convallis fermentum etiam duis gravida nullam lacinia sapien. Donec cursus neque torquent venenatis pretium senectus? Fermentum commodo sagittis.
</p>
<p>
    Accumsan montes imperdiet lobortis malesuada etiam. Malesuada dictumst vivamus blandit cum habitasse nunc per pellentesque, pharetra eleifend condimentum hendrerit. Proin cubilia massa mus non augue sapien risus nec lorem tempus. Erat nulla senectus eu fermentum dapibus orci eget nunc fusce class ornare. Sit, non lectus lacus in. Bibendum pretium, donec ac lacus et. Aptent libero lectus arcu ante convallis odio odio neque. Litora hac ornare vestibulum est. Erat turpis conubia ut est tincidunt adipiscing dignissim molestie ad lobortis nisi dapibus. Nisl ullamcorper ullamcorper bibendum. Id nisl fames sollicitudin sapien. In senectus vitae accumsan? Sociosqu bibendum sociis porta placerat felis consectetur condimentum luctus sodales himenaeos proin a. Nam, tempor integer est metus cum eleifend dolor. Varius dignissim egestas pulvinar nascetur vestibulum integer. Dolor cras rhoncus nostra consectetur consectetur nam faucibus cubilia? Etiam porta maecenas tortor nec lobortis accumsan dapibus ultrices fermentum. Pulvinar cras donec erat taciti pulvinar molestie natoque ridiculus nascetur molestie ultrices mi. Enim fermentum magna auctor sed volutpat accumsan. Lacus curae; laoreet felis placerat pellentesque facilisis felis! Habitasse nostra montes lobortis, eros egestas parturient litora nisl. Consectetur mus suscipit condimentum! In velit elit inceptos maecenas. Mollis sed interdum sodales quis orci.
</p>
<SfDropDownList TValue="string" TItem="Country" Placeholder="Select a country" AllowFiltering="true" DataSource="@Countries" Width="300px">
    <DropDownListFieldSettings Text="Name" Value="Code"></DropDownListFieldSettings>
</SfDropDownList>
<p>
    Commodo diam gravida interdum sodales cras morbi malesuada amet, blandit nisl laoreet massa. Eu fusce varius rhoncus fringilla amet dictumst hac nascetur taciti lorem augue rhoncus. Etiam metus ultrices urna. Sagittis luctus per sem imperdiet velit interdum egestas molestie platea urna vitae. Phasellus montes pretium orci per auctor natoque auctor non. Cum, sociosqu integer eu nascetur. Diam diam venenatis natoque! Ornare tincidunt pulvinar orci vestibulum nam. Mauris ultrices, sit rutrum rutrum. Scelerisque dis maecenas quis parturient netus! Molestie habitant elementum, quam semper vestibulum adipiscing facilisis hac quis. Lacinia sociosqu proin metus ultricies accumsan velit fames facilisis metus aenean? Velit turpis parturient ornare dictumst augue imperdiet primis gravida! Lacinia lobortis inceptos mattis interdum?
</p>
<p>
    Quis ut aliquet augue sodales feugiat lorem taciti. Fames facilisis interdum venenatis pretium convallis purus! Amet urna pulvinar felis lorem ultricies etiam sit luctus conubia. Penatibus aliquam gravida duis rutrum sapien. Convallis etiam felis, vivamus sociosqu aenean. Porta habitasse sed suscipit taciti nostra mollis. Massa ridiculus quam blandit elementum eu pellentesque. Sit diam sagittis commodo.
</p>
<p>
    Est vel elit tellus congue erat arcu sed felis litora. Habitasse velit mi, tellus nulla ornare taciti natoque urna egestas parturient. Duis praesent libero ut sapien vivamus hendrerit tempus fringilla accumsan rhoncus conubia malesuada. Natoque tempor nisi porta vehicula mi imperdiet mollis nisi at ridiculus. Massa ante nunc lacus cubilia! Varius cursus vestibulum interdum pulvinar.
</p>
<p>
    Eu, mus natoque maecenas iaculis. Aenean non suspendisse dictumst parturient magna. Elit tristique justo velit magnis blandit malesuada consequat imperdiet sodales sagittis nascetur odio. Nec, vitae elementum tempus rutrum. Sodales mus felis erat magnis tempus laoreet. Mollis semper lobortis nam ac auctor quis nascetur diam elementum ultricies tempus. Orci nascetur quis netus nulla mollis lobortis sagittis. Nunc taciti fusce luctus litora lobortis. At duis ultrices aptent cum. Nullam amet penatibus ridiculus! Iaculis montes ultrices varius molestie diam class ante iaculis elit senectus at. Fusce faucibus commodo consequat consequat volutpat tempor sociis maecenas amet interdum nam. Molestie cursus eleifend metus diam ligula nibh tempor nunc. Dolor dis vel et. Cubilia litora sagittis gravida phasellus risus feugiat cum tellus tempus semper aliquet.
</p>


@code {
    public class Country
    {
        public string Name { get; set; }
        public string Code { get; set; }
    }

    private List<Country> Countries = new List<Country>
{
    new Country { Name = "Afghanistan", Code = "AF" },
    new Country { Name = "Albania", Code = "AL" },
    new Country { Name = "Algeria", Code = "DZ" },
    new Country { Name = "Andorra", Code = "AD" },
    new Country { Name = "Angola", Code = "AO" },
    new Country { Name = "Antigua and Barbuda", Code = "AG" },
    new Country { Name = "Argentina", Code = "AR" },
    new Country { Name = "Armenia", Code = "AM" },
    new Country { Name = "Australia", Code = "AU" },
    new Country { Name = "Austria", Code = "AT" },
    new Country { Name = "Azerbaijan", Code = "AZ" },
    new Country { Name = "Bahamas", Code = "BS" },
    new Country { Name = "Bahrain", Code = "BH" },
    new Country { Name = "Bangladesh", Code = "BD" },
    new Country { Name = "Barbados", Code = "BB" },
    new Country { Name = "Belarus", Code = "BY" },
    new Country { Name = "Belgium", Code = "BE" },
    new Country { Name = "Belize", Code = "BZ" },
    new Country { Name = "Benin", Code = "BJ" },
    new Country { Name = "Bhutan", Code = "BT" },
    new Country { Name = "Bolivia", Code = "BO" },
    new Country { Name = "Bosnia and Herzegovina", Code = "BA" },
    new Country { Name = "Botswana", Code = "BW" },
    new Country { Name = "Brazil", Code = "BR" },
    new Country { Name = "Brunei", Code = "BN" },
    new Country { Name = "Bulgaria", Code = "BG" },
    new Country { Name = "Burkina Faso", Code = "BF" },
    new Country { Name = "Burundi", Code = "BI" },
    new Country { Name = "Cambodia", Code = "KH" },
    new Country { Name = "Cameroon", Code = "CM" },
    new Country { Name = "Canada", Code = "CA" },
    new Country { Name = "Cape Verde", Code = "CV" },
    new Country { Name = "Central African Republic", Code = "CF" },
    new Country { Name = "Chad", Code = "TD" },
    new Country { Name = "Chile", Code = "CL" },
    new Country { Name = "China", Code = "CN" },
    new Country { Name = "Colombia", Code = "CO" },
    new Country { Name = "Comoros", Code = "KM" },
    new Country { Name = "Congo", Code = "CG" },
    new Country { Name = "Costa Rica", Code = "CR" },
    new Country { Name = "Croatia", Code = "HR" },
    new Country { Name = "Cuba", Code = "CU" },
    new Country { Name = "Cyprus", Code = "CY" },
    new Country { Name = "Czech Republic", Code = "CZ" },
    new Country { Name = "Denmark", Code = "DK" },
    new Country { Name = "Djibouti", Code = "DJ" },
    new Country { Name = "Dominica", Code = "DM" },
    new Country { Name = "Dominican Republic", Code = "DO" }
};
}