@page "/counter"

<h1>Dropdown</h1>

<p>Test for mobile dropdown with filtering to see if the scroll has effect on the view.</p>
<SfDropDownList TValue="string" TItem="Country" Placeholder="Select a country" AllowFiltering="true" DataSource="@Countries" Width="300px">
    <DropDownListFieldSettings Text="Name" Value="Code"></DropDownListFieldSettings>
</SfDropDownList>

<p>
    Rhoncus proin hendrerit pulvinar magna, ligula habitant varius? At aliquam molestie cras sociosqu conubia purus est a accumsan? Hac amet duis class at hac. Massa convallis dis hendrerit eu vehicula nostra a congue per. Tempor scelerisque elementum curae;, at elementum! Tortor quis amet phasellus porttitor nisl dui habitasse semper adipiscing. Nisi at lacinia sollicitudin phasellus sit iaculis.
</p>
<p>
    Cursus, montes torquent per. Eget quisque cursus maecenas in. Aenean ligula suscipit sociosqu montes ac non cum suspendisse parturient. Ultricies felis penatibus arcu egestas aenean, conubia nisl hendrerit libero tempor vitae velit. Consequat quisque velit consectetur! Ante semper conubia sagittis lobortis gravida potenti himenaeos. Consequat, hac lectus convallis ultricies. Cursus nisl leo et rutrum! Sodales ante ornare condimentum in eu. Tellus hac vestibulum conubia praesent diam adipiscing. Hac euismod porttitor?
</p>
<p>
    Suspendisse suspendisse ultricies phasellus. Litora curae; montes aptent? Leo rutrum habitasse duis pulvinar in eleifend praesent diam? Vestibulum porta platea duis at, erat magnis ornare fringilla lectus cras vestibulum fermentum. Cum rhoncus gravida tempus maecenas, placerat accumsan. Sociis lacus commodo sem class ultrices habitant sodales massa placerat fermentum nascetur fames. Hendrerit curae; per ultricies id? Magna mollis euismod magnis! Vestibulum platea sem vulputate curabitur lorem aenean justo enim. Laoreet nisl accumsan nullam. Nulla nascetur facilisis pellentesque velit! Lacinia integer varius potenti cursus orci congue fermentum tincidunt sed porta? Sagittis urna sapien lorem aliquet feugiat facilisi augue rutrum. Parturient nulla class fringilla. Nec, volutpat torquent erat quisque. Lorem dignissim himenaeos mauris, tortor nec tellus eu feugiat. Diam ad scelerisque pretium mattis, posuere pulvinar aptent in. Dictum donec facilisi arcu vulputate. Nulla id nam condimentum tellus amet rhoncus sit vulputate, ac pulvinar placerat. Fames at per penatibus massa ligula diam dignissim suspendisse porta dignissim orci fusce. Cubilia vel elementum nulla risus sodales nisl aliquam. Cursus nibh cum nostra convallis fermentum etiam duis gravida nullam lacinia sapien. Donec cursus neque torquent venenatis pretium senectus? Fermentum commodo sagittis.
</p>
<p>
    Accumsan montes imperdiet lobortis malesuada etiam. Malesuada dictumst vivamus blandit cum habitasse nunc per pellentesque, pharetra eleifend condimentum hendrerit. Proin cubilia massa mus non augue sapien risus nec lorem tempus. Erat nulla senectus eu fermentum dapibus orci eget nunc fusce class ornare. Sit, non lectus lacus in. Bibendum pretium, donec ac lacus et. Aptent libero lectus arcu ante convallis odio odio neque. Litora hac ornare vestibulum est. Erat turpis conubia ut est tincidunt adipiscing dignissim molestie ad lobortis nisi dapibus. Nisl ullamcorper ullamcorper bibendum. Id nisl fames sollicitudin sapien. In senectus vitae accumsan? Sociosqu bibendum sociis porta placerat felis consectetur condimentum luctus sodales himenaeos proin a. Nam, tempor integer est metus cum eleifend dolor. Varius dignissim egestas pulvinar nascetur vestibulum integer. Dolor cras rhoncus nostra consectetur consectetur nam faucibus cubilia? Etiam porta maecenas tortor nec lobortis accumsan dapibus ultrices fermentum. Pulvinar cras donec erat taciti pulvinar molestie natoque ridiculus nascetur molestie ultrices mi. Enim fermentum magna auctor sed volutpat accumsan. Lacus curae; laoreet felis placerat pellentesque facilisis felis! Habitasse nostra montes lobortis, eros egestas parturient litora nisl. Consectetur mus suscipit condimentum! In velit elit inceptos maecenas. Mollis sed interdum sodales quis orci.
</p>
<p>
    Commodo diam gravida interdum sodales cras morbi malesuada amet, blandit nisl laoreet massa. Eu fusce varius rhoncus fringilla amet dictumst hac nascetur taciti lorem augue rhoncus. Etiam metus ultrices urna. Sagittis luctus per sem imperdiet velit interdum egestas molestie platea urna vitae. Phasellus montes pretium orci per auctor natoque auctor non. Cum, sociosqu integer eu nascetur. Diam diam venenatis natoque! Ornare tincidunt pulvinar orci vestibulum nam. Mauris ultrices, sit rutrum rutrum. Scelerisque dis maecenas quis parturient netus! Molestie habitant elementum, quam semper vestibulum adipiscing facilisis hac quis. Lacinia sociosqu proin metus ultricies accumsan velit fames facilisis metus aenean? Velit turpis parturient ornare dictumst augue imperdiet primis gravida! Lacinia lobortis inceptos mattis interdum?
</p>
<p>
    Quis ut aliquet augue sodales feugiat lorem taciti. Fames facilisis interdum venenatis pretium convallis purus! Amet urna pulvinar felis lorem ultricies etiam sit luctus conubia. Penatibus aliquam gravida duis rutrum sapien. Convallis etiam felis, vivamus sociosqu aenean. Porta habitasse sed suscipit taciti nostra mollis. Massa ridiculus quam blandit elementum eu pellentesque. Sit diam sagittis commodo.
</p>
<SfDropDownList TValue="string" TItem="Country" Placeholder="Select a country" AllowFiltering="true" DataSource="@Countries" Width="300px">
    <DropDownListFieldSettings Text="Name" Value="Code"></DropDownListFieldSettings>
</SfDropDownList>

<p>
    Est vel elit tellus congue erat arcu sed felis litora. Habitasse velit mi, tellus nulla ornare taciti natoque urna egestas parturient. Duis praesent libero ut sapien vivamus hendrerit tempus fringilla accumsan rhoncus conubia malesuada. Natoque tempor nisi porta vehicula mi imperdiet mollis nisi at ridiculus. Massa ante nunc lacus cubilia! Varius cursus vestibulum interdum pulvinar.
</p>
<p>
    Eu, mus natoque maecenas iaculis. Aenean non suspendisse dictumst parturient magna. Elit tristique justo velit magnis blandit malesuada consequat imperdiet sodales sagittis nascetur odio. Nec, vitae elementum tempus rutrum. Sodales mus felis erat magnis tempus laoreet. Mollis semper lobortis nam ac auctor quis nascetur diam elementum ultricies tempus. Orci nascetur quis netus nulla mollis lobortis sagittis. Nunc taciti fusce luctus litora lobortis. At duis ultrices aptent cum. Nullam amet penatibus ridiculus! Iaculis montes ultrices varius molestie diam class ante iaculis elit senectus at. Fusce faucibus commodo consequat consequat volutpat tempor sociis maecenas amet interdum nam. Molestie cursus eleifend metus diam ligula nibh tempor nunc. Dolor dis vel et. Cubilia litora sagittis gravida phasellus risus feugiat cum tellus tempus semper aliquet.
</p>
<p>
    Dictum imperdiet non malesuada elit neque. Ligula lorem facilisis ad risus? Himenaeos diam fringilla, nec amet molestie. Ut sit ornare enim tellus auctor suscipit. Lacus cum nam adipiscing convallis rhoncus adipiscing in, quis justo torquent a massa! Penatibus ipsum aliquet vel condimentum quis lorem natoque convallis natoque quam ut! Duis ultrices scelerisque parturient. Potenti urna consectetur varius at ridiculus et felis lorem natoque purus augue blandit! Vivamus ligula hendrerit sagittis imperdiet consequat pellentesque enim ante ligula malesuada praesent. Venenatis vestibulum potenti primis justo lacus pellentesque praesent viverra pretium. Vestibulum facilisi pulvinar magnis elementum molestie hac class. Consectetur ante quisque sodales turpis bibendum sit curabitur velit ad curae; mi. Dictumst urna sodales tortor vulputate. Himenaeos feugiat class senectus malesuada donec ultrices semper aliquet vitae. Consequat nunc dignissim enim urna.
</p>
<p>
    Feugiat quis posuere suspendisse vivamus penatibus primis ultricies convallis mauris velit molestie nunc. Etiam vulputate diam, interdum eros magna habitasse egestas inceptos. Felis blandit torquent fusce malesuada nam. Phasellus ornare elit montes feugiat. Id natoque curae; porttitor. Varius taciti placerat cum fringilla pharetra? Aptent inceptos dis nunc quis justo purus potenti lobortis. Tristique hac fermentum commodo magna fusce vel a curae; sed ullamcorper sociis! Ipsum eleifend sem ultricies hac neque potenti odio per fames! Nulla amet, tellus placerat nunc non ornare posuere cum! Hendrerit rhoncus habitant placerat amet hac. Magnis magna eu eleifend tortor erat platea rhoncus ornare. Suspendisse auctor phasellus est aptent quisque. Morbi penatibus feugiat.
</p>
<p>
    Molestie dictum pulvinar sem aliquet sociosqu tempus mattis eros nullam! Quisque vel malesuada non malesuada elit nostra donec sed cubilia. Nec, aliquam duis platea semper primis luctus erat. Volutpat consequat feugiat aenean leo risus? Torquent tempus turpis at turpis feugiat laoreet volutpat posuere ullamcorper arcu leo. Amet cubilia lacus augue auctor. Consequat volutpat facilisis tincidunt varius est curabitur dignissim hendrerit ligula duis convallis. Erat primis erat consectetur nostra. Amet, per sem nunc? Neque tempor suscipit feugiat. Eu, felis laoreet malesuada mollis gravida. Maecenas parturient litora auctor sed proin maecenas eget accumsan. Maecenas vivamus, montes maecenas venenatis scelerisque aptent nam. Adipiscing conubia erat cum. Molestie scelerisque, dapibus facilisi volutpat porttitor odio cursus parturient.
</p>
<p>
    Viverra nibh auctor neque class dictum integer montes pellentesque etiam scelerisque lectus. Nisl auctor malesuada lectus fames facilisi odio per ultrices in. Pulvinar nostra quis bibendum natoque massa semper in! Eleifend aptent magna eget diam sagittis libero ornare elementum. Amet lacinia fusce dolor augue lacus! Integer potenti eleifend penatibus accumsan ac non volutpat. Conubia fringilla facilisis diam amet! Consequat sociosqu rutrum bibendum eros senectus consectetur rhoncus in libero. Semper aliquet pretium ad etiam id consectetur turpis sem. Sociis parturient sed pretium tristique montes eleifend interdum pretium inceptos metus nisi. Aliquam potenti ac taciti vulputate eleifend nulla ornare torquent ligula! Elementum nullam sit, lorem cursus justo velit vulputate? Ipsum, tellus urna mollis consequat maecenas. Maecenas condimentum mauris primis a nisi ac proin vestibulum? Ac pellentesque montes euismod mus mauris imperdiet posuere, aptent eleifend habitant! Suspendisse ut dictumst venenatis luctus penatibus turpis aliquam non porttitor nisi. Eleifend curae; rhoncus sem venenatis commodo. Phasellus elementum laoreet dignissim aptent cubilia laoreet torquent, tellus at natoque congue. Nam commodo sagittis dignissim porttitor. Eget sagittis ornare.
</p>
<p>
    Congue pharetra curabitur himenaeos, lacinia non. Pharetra fusce himenaeos interdum vehicula. Convallis accumsan faucibus nulla nulla aliquet hendrerit, venenatis consequat fringilla consequat imperdiet sagittis. Molestie vitae convallis ligula nibh rhoncus adipiscing tempus posuere. Cursus fusce dapibus arcu leo hendrerit interdum. Ligula pretium enim vivamus, eu ut sapien gravida curabitur purus elit vel rhoncus. Enim aliquet odio fermentum cubilia? Habitasse, habitant fusce scelerisque nulla maecenas metus odio. Facilisis fames metus nec bibendum in suspendisse ullamcorper cubilia integer. Mollis odio pellentesque donec, placerat consectetur. Urna sed elementum ante nisl. Varius tempus ligula purus justo volutpat pellentesque fringilla! Nam nam sollicitudin tellus eleifend pretium aenean.
</p>
<p>
    Dis ornare enim euismod dapibus eros accumsan sodales aenean ridiculus. Nunc lobortis, tempus aptent nulla. Dictumst consectetur taciti dignissim sit aenean aptent faucibus mi platea eros morbi. Quam morbi dis sociis commodo. Porttitor lorem lobortis iaculis mus felis habitasse aliquet. Conubia pellentesque donec fermentum lacinia penatibus curabitur dictumst senectus arcu. Duis vel magna lorem molestie himenaeos habitasse primis orci laoreet pharetra cursus. Viverra metus sapien himenaeos cum suscipit neque. Venenatis sit sem aliquet lacinia arcu blandit blandit et dictum. Sed nisl cubilia arcu dui donec lacus sociis pharetra, consectetur diam lectus? Bibendum parturient enim eu hac. Ad egestas lectus sodales quisque urna massa elementum augue. Donec volutpat per magnis commodo? Urna, curae; luctus nostra consectetur mollis placerat scelerisque fames montes. Duis facilisis pharetra tincidunt maecenas tellus venenatis per fermentum elementum eget aliquet dignissim. Vitae, ipsum nisl ac. Magnis quam pellentesque rhoncus? Adipiscing a ornare in sollicitudin habitant. Erat, cras dictumst phasellus ultrices interdum nibh scelerisque habitasse venenatis quam faucibus vehicula! Vitae feugiat mus bibendum et neque, mi varius congue. Sagittis urna nunc justo condimentum. Vehicula condimentum habitant parturient vehicula.
</p>
<p>
    Turpis libero libero mollis eros tempus id? Sed integer a proin tellus nostra. Elementum hendrerit elit cras porta lorem in. Nascetur per ultrices, vitae mauris? Habitasse ac pellentesque est rutrum porttitor ante ipsum montes et vehicula. Curae; senectus lectus semper sapien elementum curae; molestie posuere volutpat mattis quisque. Euismod nunc cras mauris nascetur convallis fames adipiscing volutpat. Cras conubia eu mauris fringilla sit tortor gravida rutrum magnis dictumst. Ligula senectus, nascetur dolor montes torquent? Gravida scelerisque torquent sed maecenas, iaculis quisque dictum montes class dis purus. Orci cubilia porta natoque. Faucibus id feugiat nisl consectetur. Et, ut erat montes netus! Sapien bibendum a ridiculus per rutrum id facilisis volutpat cubilia proin arcu. Tincidunt sapien venenatis cursus metus. Nisl ultrices quis etiam mattis eros class ultrices amet etiam mauris tincidunt. Nisi ullamcorper.
</p>


@code {
    public class Country
    {
        public string Name { get; set; }
        public string Code { get; set; }
    }

    private List<Country> Countries = new List<Country>
    {
        new Country() { Name = "Australia", Code = "AU" },
        new Country() { Name = "Bermuda", Code = "BM" },
        new Country() { Name = "Canada", Code = "CA" },
        new Country() { Name = "Cameroon", Code = "CM" },
        new Country() { Name = "Denmark", Code = "DK" },
        new Country() { Name = "France", Code = "FR" },
        new Country() { Name = "Finland", Code = "FI" },
        new Country() { Name = "Germany", Code = "DE" },
        new Country() { Name = "Greenland", Code = "GL" },
        new Country() { Name = "Hong Kong", Code = "HK" },
        new Country() { Name = "India", Code = "IN" },
        new Country() { Name = "Italy", Code = "IT" },
        new Country() { Name = "Japan", Code = "JP" },
        new Country() { Name = "Mexico", Code = "MX" },
        new Country() { Name = "Norway", Code = "NO" },
        new Country() { Name = "Poland", Code = "PL" },
        new Country() { Name = "Switzerland", Code = "CH" },
        new Country() { Name = "United Kingdom", Code = "GB" },
        new Country() { Name = "United States", Code = "US" },
    };
}